@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", "sans-serif";
  --font-martian-grotesk: "Martian Grotesk", "sans-serif";
  --font-silkscreen: "Silkscreen", "sans-serif";
}

.org_0-0 {
  clip-path: polygon(0 0, 5.08% 0, 5.08% 10.08%, 0 10.08%);
}

.org_0-1 {
  clip-path: polygon(0 10%, 5.08% 10%, 5.08% 20.08%, 0 20.08%);
}

.org_0-2 {
  clip-path: polygon(0 20%, 5.08% 20%, 5.08% 30.08%, 0 30.08%);
}

.org_0-3 {
  clip-path: polygon(0 30%, 5.08% 30%, 5.08% 40.08%, 0 40.08%);
}

.org_0-4 {
  clip-path: polygon(0 40%, 5.08% 40%, 5.08% 50.08%, 0 50.08%);
}

.org_0-5 {
  clip-path: polygon(0 50%, 5.08% 50%, 5.08% 60.08%, 0 60.08%);
}

.org_0-6 {
  clip-path: polygon(0 60%, 5.08% 60%, 5.08% 70.08%, 0 70.08%);
}

.org_0-7 {
  clip-path: polygon(0 70%, 5.08% 70%, 5.08% 80.08%, 0 80.08%);
}

.org_0-8 {
  clip-path: polygon(0 80%, 5.08% 80%, 5.08% 90.08%, 0 90.08%);
}

.org_0-9 {
  clip-path: polygon(0 90%, 5.08% 90%, 5.08% 100%, 0 100%);
}

.org_1-0 {
  clip-path: polygon(5% 0, 10.08% 0, 10.08% 10.08%, 5% 10.08%);
}

.org_1-1 {
  clip-path: polygon(5% 10%, 10.08% 10%, 10.08% 20.08%, 5% 20.08%);
}

.org_1-2 {
  clip-path: polygon(5% 20%, 10.08% 20%, 10.08% 30.08%, 5% 30.08%);
}

.org_1-3 {
  clip-path: polygon(5% 30%, 10.08% 30%, 10.08% 40.08%, 5% 40.08%);
}

.org_1-4 {
  clip-path: polygon(5% 40%, 10.08% 40%, 10.08% 50.08%, 5% 50.08%);
}

.org_1-5 {
  clip-path: polygon(5% 50%, 10.08% 50%, 10.08% 60.08%, 5% 60.08%);
}

.org_1-6 {
  clip-path: polygon(5% 60%, 10.08% 60%, 10.08% 70.08%, 5% 70.08%);
}

.org_1-7 {
  clip-path: polygon(5% 70%, 10.08% 70%, 10.08% 80.08%, 5% 80.08%);
}

.org_1-8 {
  clip-path: polygon(5% 80%, 10.08% 80%, 10.08% 90.08%, 5% 90.08%);
}

.org_1-9 {
  clip-path: polygon(5% 90%, 10.08% 90%, 10.08% 100%, 5% 100%);
}

.org_2-0 {
  clip-path: polygon(10% 0, 15.08% 0, 15.08% 10.08%, 10% 10.08%);
}

.org_2-1 {
  clip-path: polygon(10% 10%, 15.08% 10%, 15.08% 20.08%, 10% 20.08%);
}

.org_2-2 {
  clip-path: polygon(10% 20%, 15.08% 20%, 15.08% 30.08%, 10% 30.08%);
}

.org_2-3 {
  clip-path: polygon(10% 30%, 15.08% 30%, 15.08% 40.08%, 10% 40.08%);
}

.org_2-4 {
  clip-path: polygon(10% 40%, 15.08% 40%, 15.08% 50.08%, 10% 50.08%);
}

.org_2-5 {
  clip-path: polygon(10% 50%, 15.08% 50%, 15.08% 60.08%, 10% 60.08%);
}

.org_2-6 {
  clip-path: polygon(10% 60%, 15.08% 60%, 15.08% 70.08%, 10% 70.08%);
}

.org_2-7 {
  clip-path: polygon(10% 70%, 15.08% 70%, 15.08% 80.08%, 10% 80.08%);
}

.org_2-8 {
  clip-path: polygon(10% 80%, 15.08% 80%, 15.08% 90.08%, 10% 90.08%);
}

.org_2-9 {
  clip-path: polygon(10% 90%, 15.08% 90%, 15.08% 100%, 10% 100%);
}

.org_3-0 {
  clip-path: polygon(15% 0, 20.08% 0, 20.08% 10.08%, 15% 10.08%);
}

.org_3-1 {
  clip-path: polygon(15% 10%, 20.08% 10%, 20.08% 20.08%, 15% 20.08%);
}

.org_3-2 {
  clip-path: polygon(15% 20%, 20.08% 20%, 20.08% 30.08%, 15% 30.08%);
}

.org_3-3 {
  clip-path: polygon(15% 30%, 20.08% 30%, 20.08% 40.08%, 15% 40.08%);
}

.org_3-4 {
  clip-path: polygon(15% 40%, 20.08% 40%, 20.08% 50.08%, 15% 50.08%);
}

.org_3-5 {
  clip-path: polygon(15% 50%, 20.08% 50%, 20.08% 60.08%, 15% 60.08%);
}

.org_3-6 {
  clip-path: polygon(15% 60%, 20.08% 60%, 20.08% 70.08%, 15% 70.08%);
}

.org_3-7 {
  clip-path: polygon(15% 70%, 20.08% 70%, 20.08% 80.08%, 15% 80.08%);
}

.org_3-8 {
  clip-path: polygon(15% 80%, 20.08% 80%, 20.08% 90.08%, 15% 90.08%);
}

.org_3-9 {
  clip-path: polygon(15% 90%, 20.08% 90%, 20.08% 100%, 15% 100%);
}

.org_4-0 {
  clip-path: polygon(20% 0, 25.08% 0, 25.08% 10.08%, 20% 10.08%);
}

.org_4-1 {
  clip-path: polygon(20% 10%, 25.08% 10%, 25.08% 20.08%, 20% 20.08%);
}

.org_4-2 {
  clip-path: polygon(20% 20%, 25.08% 20%, 25.08% 30.08%, 20% 30.08%);
}

.org_4-3 {
  clip-path: polygon(20% 30%, 25.08% 30%, 25.08% 40.08%, 20% 40.08%);
}

.org_4-4 {
  clip-path: polygon(20% 40%, 25.08% 40%, 25.08% 50.08%, 20% 50.08%);
}

.org_4-5 {
  clip-path: polygon(20% 50%, 25.08% 50%, 25.08% 60.08%, 20% 60.08%);
}

.org_4-6 {
  clip-path: polygon(20% 60%, 25.08% 60%, 25.08% 70.08%, 20% 70.08%);
}

.org_4-7 {
  clip-path: polygon(20% 70%, 25.08% 70%, 25.08% 80.08%, 20% 80.08%);
}

.org_4-8 {
  clip-path: polygon(20% 80%, 25.08% 80%, 25.08% 90.08%, 20% 90.08%);
}

.org_4-9 {
  clip-path: polygon(20% 90%, 25.08% 90%, 25.08% 100%, 20% 100%);
}

.org_5-0 {
  clip-path: polygon(25% 0, 30.08% 0, 30.08% 10.08%, 25% 10.08%);
}

.org_5-1 {
  clip-path: polygon(25% 10%, 30.08% 10%, 30.08% 20.08%, 25% 20.08%);
}

.org_5-2 {
  clip-path: polygon(25% 20%, 30.08% 20%, 30.08% 30.08%, 25% 30.08%);
}

.org_5-3 {
  clip-path: polygon(25% 30%, 30.08% 30%, 30.08% 40.08%, 25% 40.08%);
}

.org_5-4 {
  clip-path: polygon(25% 40%, 30.08% 40%, 30.08% 50.08%, 25% 50.08%);
}

.org_5-5 {
  clip-path: polygon(25% 50%, 30.08% 50%, 30.08% 60.08%, 25% 60.08%);
}

.org_5-6 {
  clip-path: polygon(25% 60%, 30.08% 60%, 30.08% 70.08%, 25% 70.08%);
}

.org_5-7 {
  clip-path: polygon(25% 70%, 30.08% 70%, 30.08% 80.08%, 25% 80.08%);
}

.org_5-8 {
  clip-path: polygon(25% 80%, 30.08% 80%, 30.08% 90.08%, 25% 90.08%);
}

.org_5-9 {
  clip-path: polygon(25% 90%, 30.08% 90%, 30.08% 100%, 25% 100%);
}

.org_6-0 {
  clip-path: polygon(30% 0, 35.08% 0, 35.08% 10.08%, 30% 10.08%);
}

.org_6-1 {
  clip-path: polygon(30% 10%, 35.08% 10%, 35.08% 20.08%, 30% 20.08%);
}

.org_6-2 {
  clip-path: polygon(30% 20%, 35.08% 20%, 35.08% 30.08%, 30% 30.08%);
}

.org_6-3 {
  clip-path: polygon(30% 30%, 35.08% 30%, 35.08% 40.08%, 30% 40.08%);
}

.org_6-4 {
  clip-path: polygon(30% 40%, 35.08% 40%, 35.08% 50.08%, 30% 50.08%);
}

.org_6-5 {
  clip-path: polygon(30% 50%, 35.08% 50%, 35.08% 60.08%, 30% 60.08%);
}

.org_6-6 {
  clip-path: polygon(30% 60%, 35.08% 60%, 35.08% 70.08%, 30% 70.08%);
}

.org_6-7 {
  clip-path: polygon(30% 70%, 35.08% 70%, 35.08% 80.08%, 30% 80.08%);
}

.org_6-8 {
  clip-path: polygon(30% 80%, 35.08% 80%, 35.08% 90.08%, 30% 90.08%);
}

.org_6-9 {
  clip-path: polygon(30% 90%, 35.08% 90%, 35.08% 100%, 30% 100%);
}

.org_7-0 {
  clip-path: polygon(35% 0, 40.08% 0, 40.08% 10.08%, 35% 10.08%);
}

.org_7-1 {
  clip-path: polygon(35% 10%, 40.08% 10%, 40.08% 20.08%, 35% 20.08%);
}

.org_7-2 {
  clip-path: polygon(35% 20%, 40.08% 20%, 40.08% 30.08%, 35% 30.08%);
}

.org_7-3 {
  clip-path: polygon(35% 30%, 40.08% 30%, 40.08% 40.08%, 35% 40.08%);
}

.org_7-4 {
  clip-path: polygon(35% 40%, 40.08% 40%, 40.08% 50.08%, 35% 50.08%);
}

.org_7-5 {
  clip-path: polygon(35% 50%, 40.08% 50%, 40.08% 60.08%, 35% 60.08%);
}

.org_7-6 {
  clip-path: polygon(35% 60%, 40.08% 60%, 40.08% 70.08%, 35% 70.08%);
}

.org_7-7 {
  clip-path: polygon(35% 70%, 40.08% 70%, 40.08% 80.08%, 35% 80.08%);
}

.org_7-8 {
  clip-path: polygon(35% 80%, 40.08% 80%, 40.08% 90.08%, 35% 90.08%);
}

.org_7-9 {
  clip-path: polygon(35% 90%, 40.08% 90%, 40.08% 100%, 35% 100%);
}

.org_8-0 {
  clip-path: polygon(40% 0, 45.08% 0, 45.08% 10.08%, 40% 10.08%);
}

.org_8-1 {
  clip-path: polygon(40% 10%, 45.08% 10%, 45.08% 20.08%, 40% 20.08%);
}

.org_8-2 {
  clip-path: polygon(40% 20%, 45.08% 20%, 45.08% 30.08%, 40% 30.08%);
}

.org_8-3 {
  clip-path: polygon(40% 30%, 45.08% 30%, 45.08% 40.08%, 40% 40.08%);
}

.org_8-4 {
  clip-path: polygon(40% 40%, 45.08% 40%, 45.08% 50.08%, 40% 50.08%);
}

.org_8-5 {
  clip-path: polygon(40% 50%, 45.08% 50%, 45.08% 60.08%, 40% 60.08%);
}

.org_8-6 {
  clip-path: polygon(40% 60%, 45.08% 60%, 45.08% 70.08%, 40% 70.08%);
}

.org_8-7 {
  clip-path: polygon(40% 70%, 45.08% 70%, 45.08% 80.08%, 40% 80.08%);
}

.org_8-8 {
  clip-path: polygon(40% 80%, 45.08% 80%, 45.08% 90.08%, 40% 90.08%);
}

.org_8-9 {
  clip-path: polygon(40% 90%, 45.08% 90%, 45.08% 100%, 40% 100%);
}

.org_9-0 {
  clip-path: polygon(45% 0, 50.08% 0, 50.08% 10.08%, 45% 10.08%);
}

.org_9-1 {
  clip-path: polygon(45% 10%, 50.08% 10%, 50.08% 20.08%, 45% 20.08%);
}

.org_9-2 {
  clip-path: polygon(45% 20%, 50.08% 20%, 50.08% 30.08%, 45% 30.08%);
}

.org_9-3 {
  clip-path: polygon(45% 30%, 50.08% 30%, 50.08% 40.08%, 45% 40.08%);
}

.org_9-4 {
  clip-path: polygon(45% 40%, 50.08% 40%, 50.08% 50.08%, 45% 50.08%);
}

.org_9-5 {
  clip-path: polygon(45% 50%, 50.08% 50%, 50.08% 60.08%, 45% 60.08%);
}

.org_9-6 {
  clip-path: polygon(45% 60%, 50.08% 60%, 50.08% 70.08%, 45% 70.08%);
}

.org_9-7 {
  clip-path: polygon(45% 70%, 50.08% 70%, 50.08% 80.08%, 45% 80.08%);
}

.org_9-8 {
  clip-path: polygon(45% 80%, 50.08% 80%, 50.08% 90.08%, 45% 90.08%);
}

.org_9-9 {
  clip-path: polygon(45% 90%, 50.08% 90%, 50.08% 100%, 45% 100%);
}

.org_10-0 {
  clip-path: polygon(50% 0, 55.08% 0, 55.08% 10.08%, 50% 10.08%);
}

.org_10-1 {
  clip-path: polygon(50% 10%, 55.08% 10%, 55.08% 20.08%, 50% 20.08%);
}

.org_10-2 {
  clip-path: polygon(50% 20%, 55.08% 20%, 55.08% 30.08%, 50% 30.08%);
}

.org_10-3 {
  clip-path: polygon(50% 30%, 55.08% 30%, 55.08% 40.08%, 50% 40.08%);
}

.org_10-4 {
  clip-path: polygon(50% 40%, 55.08% 40%, 55.08% 50.08%, 50% 50.08%);
}

.org_10-5 {
  clip-path: polygon(50% 50%, 55.08% 50%, 55.08% 60.08%, 50% 60.08%);
}

.org_10-6 {
  clip-path: polygon(50% 60%, 55.08% 60%, 55.08% 70.08%, 50% 70.08%);
}

.org_10-7 {
  clip-path: polygon(50% 70%, 55.08% 70%, 55.08% 80.08%, 50% 80.08%);
}

.org_10-8 {
  clip-path: polygon(50% 80%, 55.08% 80%, 55.08% 90.08%, 50% 90.08%);
}

.org_10-9 {
  clip-path: polygon(50% 90%, 55.08% 90%, 55.08% 100%, 50% 100%);
}

.org_11-0 {
  clip-path: polygon(55% 0, 60.08% 0, 60.08% 10.08%, 55% 10.08%);
}

.org_11-1 {
  clip-path: polygon(55% 10%, 60.08% 10%, 60.08% 20.08%, 55% 20.08%);
}

.org_11-2 {
  clip-path: polygon(55% 20%, 60.08% 20%, 60.08% 30.08%, 55% 30.08%);
}

.org_11-3 {
  clip-path: polygon(55% 30%, 60.08% 30%, 60.08% 40.08%, 55% 40.08%);
}

.org_11-4 {
  clip-path: polygon(55% 40%, 60.08% 40%, 60.08% 50.08%, 55% 50.08%);
}

.org_11-5 {
  clip-path: polygon(55% 50%, 60.08% 50%, 60.08% 60.08%, 55% 60.08%);
}

.org_11-6 {
  clip-path: polygon(55% 60%, 60.08% 60%, 60.08% 70.08%, 55% 70.08%);
}

.org_11-7 {
  clip-path: polygon(55% 70%, 60.08% 70%, 60.08% 80.08%, 55% 80.08%);
}

.org_11-8 {
  clip-path: polygon(55% 80%, 60.08% 80%, 60.08% 90.08%, 55% 90.08%);
}

.org_11-9 {
  clip-path: polygon(55% 90%, 60.08% 90%, 60.08% 100%, 55% 100%);
}

.org_12-0 {
  clip-path: polygon(60% 0, 65.08% 0, 65.08% 10.08%, 60% 10.08%);
}

.org_12-1 {
  clip-path: polygon(60% 10%, 65.08% 10%, 65.08% 20.08%, 60% 20.08%);
}

.org_12-2 {
  clip-path: polygon(60% 20%, 65.08% 20%, 65.08% 30.08%, 60% 30.08%);
}

.org_12-3 {
  clip-path: polygon(60% 30%, 65.08% 30%, 65.08% 40.08%, 60% 40.08%);
}

.org_12-4 {
  clip-path: polygon(60% 40%, 65.08% 40%, 65.08% 50.08%, 60% 50.08%);
}

.org_12-5 {
  clip-path: polygon(60% 50%, 65.08% 50%, 65.08% 60.08%, 60% 60.08%);
}

.org_12-6 {
  clip-path: polygon(60% 60%, 65.08% 60%, 65.08% 70.08%, 60% 70.08%);
}

.org_12-7 {
  clip-path: polygon(60% 70%, 65.08% 70%, 65.08% 80.08%, 60% 80.08%);
}

.org_12-8 {
  clip-path: polygon(60% 80%, 65.08% 80%, 65.08% 90.08%, 60% 90.08%);
}

.org_12-9 {
  clip-path: polygon(60% 90%, 65.08% 90%, 65.08% 100%, 60% 100%);
}

.org_13-0 {
  clip-path: polygon(65% 0, 70.08% 0, 70.08% 10.08%, 65% 10.08%);
}

.org_13-1 {
  clip-path: polygon(65% 10%, 70.08% 10%, 70.08% 20.08%, 65% 20.08%);
}

.org_13-2 {
  clip-path: polygon(65% 20%, 70.08% 20%, 70.08% 30.08%, 65% 30.08%);
}

.org_13-3 {
  clip-path: polygon(65% 30%, 70.08% 30%, 70.08% 40.08%, 65% 40.08%);
}

.org_13-4 {
  clip-path: polygon(65% 40%, 70.08% 40%, 70.08% 50.08%, 65% 50.08%);
}

.org_13-5 {
  clip-path: polygon(65% 50%, 70.08% 50%, 70.08% 60.08%, 65% 60.08%);
}

.org_13-6 {
  clip-path: polygon(65% 60%, 70.08% 60%, 70.08% 70.08%, 65% 70.08%);
}

.org_13-7 {
  clip-path: polygon(65% 70%, 70.08% 70%, 70.08% 80.08%, 65% 80.08%);
}

.org_13-8 {
  clip-path: polygon(65% 80%, 70.08% 80%, 70.08% 90.08%, 65% 90.08%);
}

.org_13-9 {
  clip-path: polygon(65% 90%, 70.08% 90%, 70.08% 100%, 65% 100%);
}

.org_14-0 {
  clip-path: polygon(70% 0, 75.08% 0, 75.08% 10.08%, 70% 10.08%);
}

.org_14-1 {
  clip-path: polygon(70% 10%, 75.08% 10%, 75.08% 20.08%, 70% 20.08%);
}

.org_14-2 {
  clip-path: polygon(70% 20%, 75.08% 20%, 75.08% 30.08%, 70% 30.08%);
}

.org_14-3 {
  clip-path: polygon(70% 30%, 75.08% 30%, 75.08% 40.08%, 70% 40.08%);
}

.org_14-4 {
  clip-path: polygon(70% 40%, 75.08% 40%, 75.08% 50.08%, 70% 50.08%);
}

.org_14-5 {
  clip-path: polygon(70% 50%, 75.08% 50%, 75.08% 60.08%, 70% 60.08%);
}

.org_14-6 {
  clip-path: polygon(70% 60%, 75.08% 60%, 75.08% 70.08%, 70% 70.08%);
}

.org_14-7 {
  clip-path: polygon(70% 70%, 75.08% 70%, 75.08% 80.08%, 70% 80.08%);
}

.org_14-8 {
  clip-path: polygon(70% 80%, 75.08% 80%, 75.08% 90.08%, 70% 90.08%);
}

.org_14-9 {
  clip-path: polygon(70% 90%, 75.08% 90%, 75.08% 100%, 70% 100%);
}

.org_15-0 {
  clip-path: polygon(75% 0, 80.08% 0, 80.08% 10.08%, 75% 10.08%);
}

.org_15-1 {
  clip-path: polygon(75% 10%, 80.08% 10%, 80.08% 20.08%, 75% 20.08%);
}

.org_15-2 {
  clip-path: polygon(75% 20%, 80.08% 20%, 80.08% 30.08%, 75% 30.08%);
}

.org_15-3 {
  clip-path: polygon(75% 30%, 80.08% 30%, 80.08% 40.08%, 75% 40.08%);
}

.org_15-4 {
  clip-path: polygon(75% 40%, 80.08% 40%, 80.08% 50.08%, 75% 50.08%);
}

.org_15-5 {
  clip-path: polygon(75% 50%, 80.08% 50%, 80.08% 60.08%, 75% 60.08%);
}

.org_15-6 {
  clip-path: polygon(75% 60%, 80.08% 60%, 80.08% 70.08%, 75% 70.08%);
}

.org_15-7 {
  clip-path: polygon(75% 70%, 80.08% 70%, 80.08% 80.08%, 75% 80.08%);
}

.org_15-8 {
  clip-path: polygon(75% 80%, 80.08% 80%, 80.08% 90.08%, 75% 90.08%);
}

.org_15-9 {
  clip-path: polygon(75% 90%, 80.08% 90%, 80.08% 100%, 75% 100%);
}

.org_16-0 {
  clip-path: polygon(80% 0, 85.08% 0, 85.08% 10.08%, 80% 10.08%);
}

.org_16-1 {
  clip-path: polygon(80% 10%, 85.08% 10%, 85.08% 20.08%, 80% 20.08%);
}

.org_16-2 {
  clip-path: polygon(80% 20%, 85.08% 20%, 85.08% 30.08%, 80% 30.08%);
}

.org_16-3 {
  clip-path: polygon(80% 30%, 85.08% 30%, 85.08% 40.08%, 80% 40.08%);
}

.org_16-4 {
  clip-path: polygon(80% 40%, 85.08% 40%, 85.08% 50.08%, 80% 50.08%);
}

.org_16-5 {
  clip-path: polygon(80% 50%, 85.08% 50%, 85.08% 60.08%, 80% 60.08%);
}

.org_16-6 {
  clip-path: polygon(80% 60%, 85.08% 60%, 85.08% 70.08%, 80% 70.08%);
}

.org_16-7 {
  clip-path: polygon(80% 70%, 85.08% 70%, 85.08% 80.08%, 80% 80.08%);
}

.org_16-8 {
  clip-path: polygon(80% 80%, 85.08% 80%, 85.08% 90.08%, 80% 90.08%);
}

.org_16-9 {
  clip-path: polygon(80% 90%, 85.08% 90%, 85.08% 100%, 80% 100%);
}

.org_17-0 {
  clip-path: polygon(85% 0, 90.08% 0, 90.08% 10.08%, 85% 10.08%);
}

.org_17-1 {
  clip-path: polygon(85% 10%, 90.08% 10%, 90.08% 20.08%, 85% 20.08%);
}

.org_17-2 {
  clip-path: polygon(85% 20%, 90.08% 20%, 90.08% 30.08%, 85% 30.08%);
}

.org_17-3 {
  clip-path: polygon(85% 30%, 90.08% 30%, 90.08% 40.08%, 85% 40.08%);
}

.org_17-4 {
  clip-path: polygon(85% 40%, 90.08% 40%, 90.08% 50.08%, 85% 50.08%);
}

.org_17-5 {
  clip-path: polygon(85% 50%, 90.08% 50%, 90.08% 60.08%, 85% 60.08%);
}

.org_17-6 {
  clip-path: polygon(85% 60%, 90.08% 60%, 90.08% 70.08%, 85% 70.08%);
}

.org_17-7 {
  clip-path: polygon(85% 70%, 90.08% 70%, 90.08% 80.08%, 85% 80.08%);
}

.org_17-8 {
  clip-path: polygon(85% 80%, 90.08% 80%, 90.08% 90.08%, 85% 90.08%);
}

.org_17-9 {
  clip-path: polygon(85% 90%, 90.08% 90%, 90.08% 100%, 85% 100%);
}

.org_18-0 {
  clip-path: polygon(90% 0, 95.08% 0, 95.08% 10.08%, 90% 10.08%);
}

.org_18-1 {
  clip-path: polygon(90% 10%, 95.08% 10%, 95.08% 20.08%, 90% 20.08%);
}

.org_18-2 {
  clip-path: polygon(90% 20%, 95.08% 20%, 95.08% 30.08%, 90% 30.08%);
}

.org_18-3 {
  clip-path: polygon(90% 30%, 95.08% 30%, 95.08% 40.08%, 90% 40.08%);
}

.org_18-4 {
  clip-path: polygon(90% 40%, 95.08% 40%, 95.08% 50.08%, 90% 50.08%);
}

.org_18-5 {
  clip-path: polygon(90% 50%, 95.08% 50%, 95.08% 60.08%, 90% 60.08%);
}

.org_18-6 {
  clip-path: polygon(90% 60%, 95.08% 60%, 95.08% 70.08%, 90% 70.08%);
}

.org_18-7 {
  clip-path: polygon(90% 70%, 95.08% 70%, 95.08% 80.08%, 90% 80.08%);
}

.org_18-8 {
  clip-path: polygon(90% 80%, 95.08% 80%, 95.08% 90.08%, 90% 90.08%);
}

.org_18-9 {
  clip-path: polygon(90% 90%, 95.08% 90%, 95.08% 100%, 90% 100%);
}

.org_19-0 {
  clip-path: polygon(95% 0, 100% 0, 100% 10.08%, 95% 10.08%);
}

.org_19-1 {
  clip-path: polygon(95% 10%, 100% 10%, 100% 20.08%, 95% 20.08%);
}

.org_19-2 {
  clip-path: polygon(95% 20%, 100% 20%, 100% 30.08%, 95% 30.08%);
}

.org_19-3 {
  clip-path: polygon(95% 30%, 100% 30%, 100% 40.08%, 95% 40.08%);
}

.org_19-4 {
  clip-path: polygon(95% 40%, 100% 40%, 100% 50.08%, 95% 50.08%);
}

.org_19-5 {
  clip-path: polygon(95% 50%, 100% 50%, 100% 60.08%, 95% 60.08%);
}

.org_19-6 {
  clip-path: polygon(95% 60%, 100% 60%, 100% 70.08%, 95% 70.08%);
}

.org_19-7 {
  clip-path: polygon(95% 70%, 100% 70%, 100% 80.08%, 95% 80.08%);
}

.org_19-8 {
  clip-path: polygon(95% 80%, 100% 80%, 100% 90.08%, 95% 90.08%);
}

.org_19-9 {
  clip-path: polygon(95% 90%, 100% 90%, 100% 100%, 95% 100%);
}
