@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", "sans-serif";
  --font-martian-grotesk: "Martian Grotesk", "sans-serif";
  --font-silkscreen: "Silkscreen", "sans-serif";
}

.org-1 {
  clip-path: polygon(0 0, 100% 0, 100% 31%, 0 31%);
}

.org-2 {
  clip-path: polygon(0 30%, 100% 30%, 100% 51%, 0 51%);
}

.org-3 {
  clip-path: polygon(0 50%, 100% 50%, 100% 66%, 0 66%);
}

.org-4 {
  clip-path: polygon(0 60%, 100% 60%, 100% 76%, 0 76%);
}

.org-5 {
  clip-path: polygon(0 75%, 100% 75%, 100% 81%, 0 81%);
}

.org-6 {
  clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}
