@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", "sans-serif";
  --font-martian-grotesk: "Martian Grotesk", "sans-serif";
  --font-silkscreen: "Silkscreen", "sans-serif";
}

.org-1 {
  clip-path: polygon(0 0, 100% 0, 100% 36%, 0 36%);
}

.org-2 {
  clip-path: polygon(0 35%, 100% 35%, 100% 51%, 0 51%);
}

.org-3 {
  clip-path: polygon(0 50%, 100% 50%, 100% 81%, 0 81%);
}

.org-4 {
  clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}
